.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  &-item {
    width: calc(((100% - 48px)/ 4) - 24px);
    box-shadow: 1px 1px 9px #ccc;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 16px;
    margin-left: 8px;
    text-decoration: none;
    color: #000;
    & .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px
    ;
    }
    & .description {
      text-align: center;

    }
  }
}